extends layout

block head
  .nav
    a.nav-link(href='/', aria-current='page') Home
    a.nav-link(href='/new', class=(title === 'Create a new message' ? 'active' : '')) New Message

block content
  h1.text-center= title
  .container
    .row.justify-content-center
      .col-md-6
        form(action='/new', method='POST')
          .form-group
            label(for='Name') Name:
            input(type='text', id='Name', name='name', class='form-control', required)
          .form-group
            label(for='Message') Message:
            textarea(type='text', id='Message', name='message', class='form-control', rows='6', required)
          button(type='submit', class='btn btn-primary btn-block mt-3') Post
