extends layout

block head
  .nav
    a.nav-link.active(href='/', aria-current='page') Home
    a.nav-link(href='/new') New Message

block content
  h1= title
  .container-sm
    each message in messages
      div.card
        img.card-img-top(src=message.img, alt="...", style="width: 10%")
        div.card-body
          h5.card-title= message.user
          p.card-text= message.text
        ul.list-group.list-group-flush
          li.list-group-item
            span.card-text.added= message.added
